/containers/mongo/**/data/db
/containers/solr/6.6.0-bitnami-sitecore/data/indexes
/containers/solr/6.6.0-bitnami-sitecore/data/solr/*.*
/containers/solr/6.6.0-bitnami-sitecore/data/solr/data/*.*
/containers/solr/6.6.0-bitnami-sitecore/data/solr/bin
/containers/solr/6.6.0-bitnami-sitecore/data/solr/data/configsets